body {
    background-color: hsl(30, 38%, 92%);
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 32vw 35vw 32vw;
    grid-template-rows: 12vw 26vw 12vw;
    grid-template-areas: 
    ". . ."
    ". content ."
    ". . .";
}

.second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
}

.product-card {
    grid-area: content;
    background-color: white;
    height: auto;
    border-radius: 15px;
}

.text {
    grid-area: text;
    font-size: 0.85vw;
    padding: 2vw 2vw 2vw 2vw;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.5em;
    color: hsl(228, 12%, 48%);
    
}

.fraunces {
    font-family: Fraunces;
}

.title {
    font-size: 2vw;
    line-height: 1em;
    margin-top: 0.1vw;
    color: hsl(212, 21%, 14%);
}

.discount {
    color: hsl(158, 36%, 37%);
    font-size: 2vw;
}
.price {
    margin: 1vw;
    vertical-align: super;
    text-decoration: line-through;  
}

.image {
    grid-area: image;
    height: 26vw;
    width: 17.5vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icon {
    margin-right: 0.9vw;
    vertical-align: sub;
}
p {
    margin-bottom: 0.8vw;
}
button {
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 0.85vw;
    width: 100%;
    height: 3vw;
    border-radius: 10px;
    text-align: center;
}
button:hover {
    background-color: hsl(158, 36%, 27%);
}