body {
    background-color: hsl(30, 38%, 92%);
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 200px 500px 200px;
    grid-template-areas: 
    ". . ."
    ". content ."
    ". . .";
}

.second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
}

.product-card {
    grid-area: content;
    background-color: white;
    height: auto;
    border-radius: 15px;
}

.text {
    grid-area: text;
    font-size: 14px;
    padding: 25px 30px;
    font-family: Montserrat;
    font-weight: 500;
}

.image {
    grid-area: image;
    height: 500px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}